<%- include("header",title)%>
<p id="msg"><%= message %></p>

<form method="post" action="/db">
    <div>
        <label for="name" >Name</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="email" >Email</label>
        <input type="email" id="email" name="email">
    </div>
    <div>
        <label for="age" >Age</label>
        <input type="number" id="age" name="age">
    </div>
    <button type="submit">送信</button>
</form>

<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>age</th>
        <th>update</th>
    </tr>
    <% for (item of data) { %>
        <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.email %></td>
            <td><%= item.age %></td>
            <td><%= item.updatedAt %></td>
            <th><a href="/db/edit/<%= item.id%>">編集</a></th>
            <th><a href="#" onsubmit="false" onclick="doDelete(<%= item.id%>)">削除</a></th>
        </tr>
    <% } %>
</table>

<form id="delform" method="post" action="" />
<script>
    function doDelete(id){
      if ( window.confirm("id=" + id + "のレコードを削除しますか？" )){
        const frm = document.querySelector("#delform")
        frm.action = "/db/delete/" + id
        frm.submit()
      }
    }
</script>

<%- include("footer") %>