<h1 class="display-4"><%= title %></h1>
<p><%= msg %></p>
<form action="/board/find" method="post">
  <div class="mb-3">
    <label for="find" class="form-label">Find:</label>
    <input
      type="text"
      name="find"
      value="<%= find %>"
      id="find"
      class="form-control"
    />
  </div>
  <button type="submit" class="btn btn-secondary">検索</button>
</form>
<ul class="mt-4 list-group">
  <% for( var item of data ) { %>
  <li class="list-group-item"><%= item.message %> (<%= item.user %>)</li>
  <% } %>
</ul>

<%- exposeLocalsToBrowser() %>
