<h1 class="display-4"><%= title %></h1>
<p><%= msg %></p>
<ul class="mt-4 list-group">
  <% for( var item of data ) { %>
  <li class="list-group-item"><%= item.message %> (<%= item.user %>)</li>
  <% } %>
</ul>

<%- exposeLocalsToBrowser() %>
